body
      {
        background-color: rgb(0,0,0);
        margin: 0;
        text-align: center;
      }
      
.loggedin
{
	float: right;
	padding: 50px 30px;
	text-align: right;
}

.display
{
	background: rgb(38,38,38);
	margin: auto 0;
	width: 60%;
	height: 100%;
	display: inline-block;
}

.header
      {
        background-color: rgb(115,90,255);
        background-size: cover;
        text-align: left;
        margin: 0px 8px;
        font-family:Arial, sans-serif;
      }

.nav
      {
        background: rgb(115,90,255);
        float: left;
        padding-left: 0px;
        margin: 0px 8px 8px;
        width: 20%;
        max-width: 180px;
        min-width: 40px;
        font-family: Arial, sans-serif;
        list-style-type: none;
        text-align: left;
      }

.section
      {
        background: rgb(190,190,190);
        margin:8px;
        padding: 0px;
        overflow:hidden;
        font-family:Arial, sans-serif;
        border: 1px solid rgba(0,0,0,.1);
      }

li a
      {
        display: block;
        color: rgb(38,38,38);
        padding: 8px;
        text-decoration: none;
        border-top: 1px solid rgba(0,0,0,.5);
      }

li a:hover
      {
        background-color: rgb(38,38,38);
        color: white;
      }
      
.alert
{
	color: red;
	font-weight: bold;
}

.button{
    background-color: #f44336;
  	border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: white;
    padding:5px 15px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin: 8px;
    font: 13.3333px Arial;
}

.logoutbutton:hover{
    background-color: red;
}

input[type=submit]
{
	padding:5px 15px; 
  	border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    background-color: #21af26;
    color: white;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin: 8px;
}

input[type=submit]:hover, input[type=submit]:active
{
	background-color: green;
}

.message
{
	color: green;
	font-weight: bold;
	padding: 0;
}

.loginform
{
	text-align: right;
	margin: auto;
	display: inline-block;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 98%;
    margin: 8px;
}

th, td {
    padding: 10px;
}

th {
	background-color: rgb(38,38,38);
	color: lightgrey;
}